NODE_ENV=development
URL_PORT=3000


# If using Postgres/MySQL, set instead:
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fitbuddy_dev
DB_USERNAME=postgres DB_PASSWORD=postgres

# Logging
SEQUELIZE_LOGGING=false


# Groq API Key (obligatorio)
GROQ_API_KEY=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

# Modelo a usar (opcional, por defecto usa llama-3.1-8b-instant)
AI_MODEL=llama-3.1-8b-instant

# URL de la API (opcional, ya está configurada por defecto)
# AI_API_URL=https://api.groq.com/openai/v1/chat/completions